*{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.body{
    background-color: white;
}

.all{
    width: 1200px;
    margin: 50px auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 4px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 20PX;
}
h1{
    text-align: center;
    color: #ff0036;
    /* font-weight: bold; */
    margin-bottom: 20px;
    font-family: "华文行楷";
}
table{
    border-collapse: collapse;
    /* width: 1000px; */
    margin: 30px auto;
    /* border: 2px solid #ff0036; */
}
table tr td{
    border-bottom: 1px solid #ff0036;
    padding: 5px;
}
table tr td input{
    height: 25px;
    /* width: 100px; */
}
table tr td textarea{
    width: 200px;
    height: 80px;
    resize: none;
}
.bt{
    background-color: #ec0739;
    border: none;
    padding: 5px;
    width: 50px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    color: #fff;
}
.no{
    border-bottom: none;
}